<%= form_for @painting do |f| %>

  <% if @painting.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@painting.errors.count, "error") %> meant this didn't save.</h2>

    <ul>
      <% @painting.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>

  </div>  
  <% end %> 

  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :year %><br/>
    <%= f.text_field :year %>
  </p>

  <p>
    <%= f.label :medium %><br/>
    <%= f.text_field :medium %>
  </p>

  <p>
    <%= f.label :style %><br/>
    <%= f.text_field :style %>
  </p>

  <p>
    <%= f.label :image %><br/>
    <%= f.text_field :image %>
  </p>

  <p>
    <%= f.collection_select(:artist_id, Artist.all, :id, :first_name) %>
  </p>


  <p>
    <%= f.submit %>
  </p>

<% end %>